* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before {
    box-sizing: border-box;
  }
  *::after {
    box-sizing: border-box;
  }
  #div1 {
    position: fixed;
    right: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  #html {
    word-break: break-all;
  }
  #div1::before {
    content: "";
    display: block;
    position: absolute;
  }
  #div1::after {
    content: "";
    display: block;
    position: absolute;
  }
  @media (max-width: 500px) {
    #htmlArea {
      overflow: auto;
      height: 50vh;
      width: 100vw;
      display: inline-block;
    }
    .wrapper {
      height: 50vh;
    }
    #div1 {
      position: relative;
    }
  }